@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "All the contact information of the clinic/hospital etc.";
}
<h1 style="margin-left:15%">@ViewBag.Title</h1>

<div class="wrapper row3">
    <div id="featured_slide_">

        <h3>@ViewBag.Message</h3>

    </div>

    <div id="hpage_featured_info" class="clear">
        <p> </p>
    </div>


</div>