@{
    ViewBag.Title = "Health Profiling System";
}

<div class="wrapper row3">
    <div id="featured_slide_">
        <ul id="featured_slide_Content">
            <li class="featured_slide_Image">
                <img src="~/Images/homeimage.jpg" alt="" />
                <div class="introtext">
                    <h2>The System</h2>
                    <p>The purpose of this system is to let the medical staff maintain an online health profile of each patient on an automated system to get rid of the outdated physical paper profiles and to assist the doctors to take appropriate decisions about patients keeping in view the past records of the patient.</p>
                </div>
            </li>
            <li class="featured_slide_Image">
                <img src="~/Images/homeimage2.jpg" alt="" />
                <div class="introtext">
                    <h2>The System</h2>
                    <p>The purpose of this system is to let the medical staff maintain an online health profile of each patient on an automated system to get rid of the outdated physical paper profiles and to assist the doctors to take appropriate decisions about patients keeping in view the past records of the patient.</p>
                </div>
            </li>
            <li class="featured_slide_Image">
                <img src="~/Images/homeimage3.jpg" alt="" />
                <div class="introtext">
                    <h2>The System</h2>
                    <p>The purpose of this system is to let the medical staff maintain an online health profile of each patient on an automated system to get rid of the outdated physical paper profiles and to assist the doctors to take appropriate decisions about patients keeping in view the past records of the patient.</p>
                </div>
            </li>
            <li class="featured_slide_Image">
                <img src="~/Images/homeimage4.jpg" alt="" />
                <div class="introtext">
                    <h2>The System</h2>
                    <p>The purpose of this system is to let the medical staff maintain an online health profile of each patient on an automated system to get rid of the outdated physical paper profiles and to assist the doctors to take appropriate decisions about patients keeping in view the past records of the patient.</p>
                </div>
            </li>
            <li class="clear featured_slide_Image"><!-- Important - Leave This Empty --></li>
        </ul>
    </div>

    <div id="hpage_featured_info" class="clear">
        <p> </p>
    </div>
    

</div>